$icon-font-path: "../fonts/"

// bower:scss
@import bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss
// endbower
@import "variables"

@font-face
  font-family: "museo-sans"
  src: url("../fonts/MuseoSans-500.otf")
@font-face
  font-family: $font-prelo-medium
  src: url("../fonts/Prelo-Medium.otf")
@font-face
  font-family: $font-prelo-light
  src: url("../fonts/Prelo-Light.otf")
@font-face
  font-family: $font-prelo-extra-light
  src: url("/fonts/Prelo-ExtraLight.otf")
@font-face
  font-family: $font-prelo-bold
  src: url("../fonts/Prelo-Bold.otf")

@keyframes slide-fade-in-right
  0%
    opacity: 0
    margin-right: -60px
  100%
    opacity: 1
    margin-right: 0

@keyframes slide-fade-in-left
  0%
    opacity: 0
    margin-left: -60px
  100%
    opacity: 1
    margin-left: 0

.main
  @include transition(all .6s)
  font-family: $font-prelo-medium

.hidden
  display: none !important

.no-opacity
  opacity: 0

.vertical-center
  position: relative
  top: 50%
  transform: translateY(-50%)

.pull-right
  float: right

.fa.center
  text-align: center
  width: 100%

.fa.fa-3x.fa-ticket
  font-size: 3.4em
  margin-top: -3px


.section-template
  padding: 90px 0
  p
    margin-bottom: 20px
  @media (max-width: $screen-xs-max)
    padding: 30px 20px

.section-intro
  max-width: 900px
  margin: 0 auto
  text-align: center
  @media (max-width: $screen-xs-max)
    padding: 30px 0
    margin-bottom: 0

.bg-white
  background-color: #fff

.bg-gray
  background-color: $brand-light-gray

body.home .section-intro
  h4
    text-align: center

.inner-content-margin
  margin: 30px 0

.inner-content-margin-bottom
  margin-bottom: 60px

a
  font-family: $font-prelo-light
  color: #505050
  line-height: 17px
  cursor: pointer

p
  font-family: $font-prelo-light
  font-size: 2rem
  color: #505050

h2
  font-family: $font-prelo-extra-light
  font-size: 52px
  color: #222222
  font-weight: 100
  @media (max-width: $screen-xs-max)
    font-size: 42px
    margin-bottom: 35px

h4
  font-family: $font-prelo-extra-light
  font-size: 32px
  color: #222222
  line-height: 45px
  font-weight: 100

h5
  font-size: 20px

@media (max-width: $screen-xs-max)
  h2, h4, h5
    text-align: center

.sticky
  position: fixed
  top: 0
  background-image: url("/images/header-background.jpg")
  background-size: cover
  background-repeat: no-repeat
  width: 100%
  height: 86px
  z-index: -1

header.navbar
  background-image: url("/images/header-background.jpg")
  background-size: cover
  background-repeat: no-repeat
  padding: 20px 0
  border: 0
  margin: 0
  width: 100%
  a
    color: #FFF
  div.brand
    max-width: 160px
    float: left
    a.brand
      width: 100%
      img
        max-width: 100%
  nav.nav-primary
    float: right
    margin-top: 17px
    top: -200px
    div.menu-primary-menu-container
      .brand
        display: none
      ul.nav
        li.menu-item
          float: left
          padding-left: 15px
          padding-right: 15px
          a
            font-family: $font-prelo-medium
            font-size: 1.1em
            color: #FFFFFF
            line-height: 25px
            text-transform: uppercase
            background: none
            &.btn-brand:hover
              color: $brand-yellow
              background-color: #FFF
            &:not(.btn-brand)
              padding: 5px 0 0 0
            &:not(.btn-brand):before
              content: ""
              position: absolute
              width: 100%
              height: 1px
              bottom: 1px
              left: 0
              background-color: #FFF
              visibility: hidden
              -webkit-transform: scaleX(0)
              transform: scaleX(0)
              -webkit-transition: all 0.3s ease-in-out 0s
              transition: all 0.3s ease-in-out 0s
            &:not(.btn-brand):hover:before
              visibility: visible
              -webkit-transform: scaleX(1)
              transform: scaleX(1)
          &:last-child
            margin-top: -7px
          &.active a:not(.btn-brand):before
            visibility: visible
            -webkit-transform: scaleX(1)
            transform: scaleX(1)
  button.navbar-toggle
    margin: 0
    margin-top: 20px
    &.collapsed
      margin-top: 8px
    span.icon-bar
      @include transition(all .2s ease-out)
      background-color: #FFF
    &:not(.collapsed)
      margin-top: 13px
      span.icon-bar
        &:nth-child(2)
          transform: rotate(45deg)
        &:nth-child(3)
          opacity: 0
        &:nth-child(4)
          transform: rotate(-45deg)
          margin-top: -8px
  &.sticky
    transition: 2s
    background-image: url("/images/header-background.jpg")
    background-size: cover
  @media (min-width: $screen-sm-min)
    nav.nav-primary
      margin-top: 8px
      div.menu-primary-menu-container ul.nav li.menu-item a
        font-size: .9em
  @media (min-width: $screen-md-min)
    nav.nav-primary
      margin-top: 9px
      div.menu-primary-menu-container ul.nav li.menu-item a
        font-size: 1em
  @media (max-width: $screen-xs-max)
    nav.nav-primary
      margin-top: 3px
      div.menu-primary-menu-container ul.nav li.menu-item a
        font-size: 1em
    padding: 15px 0
    nav.nav-primary
      float: none
      width: 100%
      margin: 0
      padding-left: 0
      padding-right: 0
      div.menu-primary-menu-container
        ul.nav
          margin-top: 15px
          li.menu-item
            float: none
            text-align: center
            &:last-child
              margin-top: 10px
      &.affix
        top: -350px !important
  @media (min-width: $screen-sm)
    position: fixed
    top: 0
    &:not(.always-sticky)
      background: transparent

// Phone Input
.phone-number
  width: 320px
  border: 1px solid $brand-light-gray
  border-radius: 5px
  overflow: auto
  outline: 1px
  padding: 8px 5px 8px 74px
  background: url("/images/phone2.png") no-repeat #fff
  background-size: contain
  &.bottom-input
    border-width: 1px !important
  &.invalid
    border-color: $brand-danger
  &.valid
    border-color: $brand-success

.phone-wrapper
  position: relative

.phone-group, .phone-wrapper h2, .phone-wrapper p
  width: 320px
  position: relative
  margin: 10px auto 10px auto
  text-align: center

.hero .phone
  border-color: $brand-blue

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel]
  padding-left: 90px

.phone
  margin: auto
  width: 320px
  height: 60px
  border: 2px solid $brand-light-gray
  border-radius: 5px
  font-size: 18px
  overflow: auto
  outline: 1px
  padding: 10px 5px 10px 85px
  &.bottom-input
    border-width: 1px !important
  &.invalid
    border-color: $brand-danger
  &.valid
    border-color: $brand-success

.selected-flag
  &:focus
    outline: none

.phone-action
  position: absolute
  right: 12px
  top: 11px
  background-color: $brand-success
  border-radius: 5px
  padding: 10px 10px
  color: $brand-light-gray
  &:hover
    text-decoration: none
    cursor: pointer
    color: #fff



// Hero image
.hero
  .main-title
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 100%
  background: url("/images/woman-on-phone.jpg") left center no-repeat
  background-size: cover
  .hero-content
    p
      font-family: $font-prelo-light
      font-size: 18px
      color: $brand-light-gray
      margin-bottom: 50px
      max-width: 80%
      margin: 0 auto 80px auto
    h1
      color: $brand-light-gray
      font-size: 34px
      margin-bottom: 10px
    .btn-brand
      font-size: 24px
      min-width: 265px
      &:focus
        color: white
        background: transparent
    @media (min-width: $screen-sm - 200)
      h1
        font-size: 50px
      p
        max-width: 65%
    @media (min-width: $screen-sm)
      h1
        font-size: 60px
    @media (min-width: $screen-sm)
      h1
        font-size: 70px
      p
        font-size: 22px
  @media (min-width: $screen-xs-max + 1)
    background-position: center top
  @media (min-width: $screen-lg-min)
    min-height: 800px

.testimonial-selector
  i.fa
    &.active
      color: $brand-yellow
    &:hover
      cursor: pointer
      color: $brand-yellow
  @media (min-width: $screen-md)
    margin-top: 0px
    margin-left: 20px

.testimonial
  margin-top: 100px
  .testimonial-image
    width: 70px
    height: 70px
    border-radius: 35px
  .testimonial-name
    font-weight: 300

.click-scroll-down
  color: $brand-light-gray
  padding: 10px
  width: 200px
  text-align: center
  position: absolute
  bottom: 0
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  a
    color: $brand-light-gray
    display: block
    line-height: 5px
    &:hover, &:focus
      text-decoration: none
  &:hover
    cursor: pointer
    text-decoration: none

.download-buttons
  margin-top: 20px
  img
    width: 160px

.sms
  @extend .section-template
  h2
    margin-top: 0
  .message-bubbles
    .message-left
      max-width: 350px
      background-color: $brand-light-gray
      border-radius: 10px
      padding: 10px 13px
      clear: right
      &.small
        max-width: 150px
      &.animated
        animation: slide-fade-in-left .35s 1 forwards
      &.animated:last-child
        animation-delay: 1.2s
      p
        margin: 0
        font-family: $font-prelo-light
        font-size: 25px
        color: $brand-text-gray
        font-weight: 100
    .message-right
      @extend .message-left
      background-color: #48AAFB
      float: right
      margin: 30px 0
      margin-left: 0
      p
        color: #FFF
      &.animated
        animation: slide-fade-in-right .35s 1 forwards
        animation-delay: .6s
  .text-us
    > *:not(h2)
      margin: 25px 0
    a:not(.btn-fancy)
      color: $brand-blue
      font-weight: 600
    a.btn-fancy
        display: inline-block
    p
      line-height: 24px
  @media (min-width: $screen-md)
    p.limited-width
      max-width: 70%
    .message-bubbles
      padding-right: 40px
      .message-left
        opacity: 0
  @media (max-width: $screen-xs-max)
    .message-bubbles
      margin-bottom: 30px
      .message-right
        width: 80%

.what-we-do
  @extend .section-template
  .margin-bottom
    margin-bottom: 100px

.app-download
  @extend .section-template
  @media (min-width: $screen-sm)
    background: url("/images/app-screenshot.png") right 10% bottom -30px no-repeat $brand-light-gray
    background-size: contain

.bottom-action
  @extend .section-template


// Footer
footer
  padding: 30px 0px 0px 0px
  img
    margin-top: 0 !important
  a
    text-transform: uppercase
    font-size: 1.2rem
  a:not(.brand)
    margin: 0 7px
  &.lowered
    margin-top: 200px
  .brand
    text-align: center
    float: none
  .footer-links
    text-align: center
    float: none
    a:last-child
      margin-right: 0
  .footer-social-media
    i
      color: #000
      font-size: 22px
  @media (max-width: $screen-xs-max)
    .footer-links
      margin-left: -20px
    .footer-links a
      margin: 0 10px
    .brand
      float: none
      display: block
      margin: 20px auto
    .footer-social-media
      margin-bottom: 20px
      text-align: center
  @media (min-width: $screen-sm)
    .footer-content-wrapper
      display: flex
      justify-content: space-between
      align-items: center
      .brand
      .footer-links


// Misc
.btn-brand
  @include transition (all .3s)
  font-family: $font-prelo-light
  color: #FFF
  border: 1px solid #FFF
  border-radius: 8px
  text-transform: uppercase
  text-decoration: none !important
  &:hover
    color: $brand-yellow
    background-color: #FFF

.btn-fancy
  @include transition (all .3s)
  position: relative
  border: 1px solid #BFBFBF
  border-radius: 6px
  padding: 15px
  padding-left: 35px
  text-transform: uppercase
  background-color: transparent
  font-family: $font-prelo-bold
  font-size: 14px
  color: #898989
  line-height: 22px
  text-decoration: none !important
  &:before
    @include transition (all .3s)
    content: "\f105"
    position: absolute
    left: 15px
    width: 15px
    font-family: FontAwesome
    color: $brand-yellow
    color: #F6B536
    font-size: 26px
  &:hover
    color: #FFF
    background-color: $brand-yellow
    padding-left: 15px
  &:hover:before
    @include transition (all 0s)
    left: -30px
    opacity: 0

.google-form-modal
  button.close
    opacity: 1
    color: #FFF
  .modal-header
    background: none
    padding: 0
    iframe
      max-width: 100%
  @media (min-width: $screen-sm)
    .modal-header
      iframe
        height: 920px

.modal
  .modal-dialog
    max-width: 100%
    .modal-content
      border-radius: 0
      box-shadow: none
      .modal-header
        border: 0
        button.close
          position: absolute
          top: 10px
          right: 10px

  @media (max-width: $screen-xs-max)
    .modal-content

#return-to-top
  @include transition(all .1s ease-out)
  bottom: 35px
  right: 35px
  background-color: #F6B537
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  padding: 10px
  svg
    width: 28px
  &.affix-top
    position: fixed
    bottom: -30px

.privacy,
.payment
  margin-top: 120px
  margin-bottom: 60px

.payment
  .btn-primary
    background-color: $brand_yellow
    color: #fff
    border: 1px solid $brand-warning
    text-transform: uppercase
    width: 100%
    &:hover
      background-color: $brand-warning
      border: 1px solid $brand_yellow

.action-panel
  margin-top: 30px
  padding-top: 30px
  border-top: 1px solid $brand-light-gray
  h3
    padding-top: 18px

.how-it-works-block-wrapper
  @include transition(top .6s)
  position: absolute
  width: 100%
  z-index: 9999
  background: url("/images/bg.png")
  background-size: cover
  background-position: bottom center
  background-color: $brand-yellow
  padding-top: 30px
  padding-bottom: 30px
  &.animated
    top: 0
  h3
    margin-top: 0
    margin-bottom: 20px
  .hiw-item
    text-align: center
    img
      width: 65%
  p
    color: $brand-gray
  .dismiss
    font-size: 24px
  .btn-brand
    font-size: 26px
  .cta
    margin-top: 30px
    span, a
      font-size: 26px
      color: #FFF
    a.btn:hover
      color: $brand-yellow


    @media (min-width: $screen-sm)
      .col-sm-4
        float: none
        display: inline-block
        vertical-align: middle
        &:nth-child(1)
          text-align: right
        &:nth-child(3)
          text-align: left

    @media (max-width: $screen-xs-max)
      .col-sm-4
        margin-bottom: 20px
