$icon-font-path: '../fonts/'

// bower:scss
@import bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss
// endbower
@import "variables"

@font-face
  font-family: 'museo-sans'
  src: url('../fonts/MuseoSans-500.otf')

@font-face
  font-family: $font-prelo-medium
  src: url('../fonts/Prelo-Medium.otf')

@font-face
  font-family: $font-prelo-light
  src: url('../fonts/Prelo-Light.otf')
@font-face
  font-family: $font-prelo-extra-light
  src: url('../fonts/Prelo-ExtraLight.otf')
@font-face
  font-family: $font-prelo-bold
  src: url('../fonts/Prelo-Bold.otf')

@keyframes slide-fade-in-right
  0%
    opacity: 0
    margin-right: -60px
  100%
    opacity: 1
    margin-right: 0

@keyframes slide-fade-in-left
  0%
    opacity: 0
    margin-left: -60px
  100%
    opacity: 1
    margin-left: 0

.main
  font-family: $font-prelo-medium

.hidden
  display: none !important

.vertical-center
  position: relative
  top: 50%
  transform: translateY(-50%)

.pull-right
  float: right

.section-template
  padding: 90px 0
  @media (max-width: $screen-xs-max)
    padding: 30px 0

.section-intro
  max-width: 900px
  margin: 0 auto
  text-align: center
  @media (max-width: $screen-xs-max)
    padding: 30px 0

.inner-content-margin
  margin: 30px 0

.inner-content-margin-bottom
  margin-bottom: 60px

a
  font-family: $font-prelo-light
  color: #505050
  line-height: 17px

p
  font-family: $font-prelo-light
  font-size: 2rem
  color: #505050

h2
  font-family: $font-prelo-extra-light
  font-size: 52px
  color: #222222
  font-weight: 100
  @media (max-width: $screen-xs-max)
    font-size: 42px
    margin-bottom: 35px

h4
  font-family: $font-prelo-extra-light
  font-size: 32px
  color: #222222
  line-height: 45px
  font-weight: 100

h5
  font-size: 20px

@media (max-width: $screen-xs-max)
  h2, h4, h5
    text-align: center

.shrink
  padding: 15px 0 !important

header.navbar
  background-image: url(../../images/header-background.jpg)
  background-size: cover
  background-repeat: no-repeat
  padding: 40px 0
  border-bottom: 1px solid #FFF
  margin: 0
  width: 100%
  transition: all 0.4s ease-in-out 0s
  a
    color: #FFF
  div.brand
    max-width: 160px
    float: left
    a.brand
      width: 100%
      img
        max-width: 100%
  nav.nav-primary
    float: right
    margin-top: 22px
    top: -200px
    div.menu-primary-menu-container
      .brand
        display: none
      ul.nav
        li.menu-item
          float: left
          padding-left: 15px
          padding-right: 15px
          a
            font-family: $font-prelo-medium
            font-size: 1.1em
            color: #FFFFFF
            line-height: 25px
            text-transform: uppercase
            background: none
            &.btn-brand:hover
              color: $brand-yellow
              background-color: #FFF
            &:not(.btn-brand)
              padding: 11px 0 0 0
            &:not(.btn-brand):before
              content: ""
              position: absolute
              width: 100%
              height: 1px
              bottom: 1px
              left: 0
              background-color: #FFF
              visibility: hidden
              -webkit-transform: scaleX(0)
              transform: scaleX(0)
              -webkit-transition: all 0.3s ease-in-out 0s
              transition: all 0.3s ease-in-out 0s
            &:not(.btn-brand):hover:before
              visibility: visible
              -webkit-transform: scaleX(1)
              transform: scaleX(1)
          &.active a:not(.btn-brand):before
            visibility: visible
            -webkit-transform: scaleX(1)
            transform: scaleX(1)
  button.navbar-toggle
    margin: 0
    margin-top: 20px
    &.collapsed
      margin-top: 8px
    span.icon-bar
      @include transition(all .2s ease-out)
      background-color: #FFF
    &:not(.collapsed)
      margin-top: 13px
      span.icon-bar
        &:nth-child(2)
          transform: rotate(45deg)
        &:nth-child(3)
          opacity: 0
        &:nth-child(4)
          transform: rotate(-45deg)
          margin-top: -8px
  @media (max-width: $screen-md)
    nav.nav-primary
      margin-top: 3px
      div.menu-primary-menu-container ul.nav li.menu-item a
        font-size: .9em
  @media (max-width: $screen-sm)
    nav.nav-primary
      margin-top: 3px
      div.menu-primary-menu-container ul.nav li.menu-item a
        font-size: 1em
  @media (max-width: $screen-xs-max)
    padding: 15px 0
    nav.nav-primary
      float: none
      width: 100%
      margin: 0
      padding-left: 0
      padding-right: 0
      div.menu-primary-menu-container
        ul.nav
          margin-top: 15px
          li.menu-item
            float: none
            text-align: center
      &.affix
        top: -350px !important
  @media (min-width: $screen-xs-max + 1)
    position: fixed
    top: 0
  @media (min-width: $screen-md)
    div.brand
      max-width: 260px


// First Section
.banner-intro
  background: url(../../images/banner-intro-background.jpg) center center no-repeat
  background-size: cover
  .banner-intro-content
    p
      font-family: $font-prelo-light
      font-size: 36px
      color: #FFFFFF
      margin-bottom: 35px
    .btn-brand
      font-size: 24px
      min-width: 265px
      &:focus, &:active
        color: #FFF !important

  @media (min-width: $screen-sm)
    min-height: 600px
    padding: 224px 0
  @media (max-width: $screen-xs-max)
    .banner-intro-content
      p
        font-size: 24px
  @media (min-width: $screen-xs-max + 1)
    background-position: center top 100px


// Second Section (what we do)
.what-we-do
  p
    font-family: $font-prelo-extra-light
    font-size: 27px
    color: $brand-gray
    line-height: 27px
    font-weight: 100
  h4
    text-align: center
  .services
    @extend .section-template
    h2
      text-align: center
      margin-top: 0
      margin-bottom: 24px
    h5
      text-align: center
      margin-bottom: 35px
    ul.services-list
      padding-left: 0
      list-style: none
      li.service-item
        padding-left: 40px
        padding-top: 15px
        padding-bottom: 15px
        border-bottom: 1px solid #DEDEDE
        font-family: $font-prelo-light
        font-size: 17px
        color: $brand-text-gray
        &:last-child
          border: none
        &:before
          content: ''
          width: 22px
          height: 23px
          position: absolute
          left: 17px
          background-size: contain
          background-position: center center
          background-repeat: no-repeat
      &.left
        li.service-item
          &:nth-child(1):before
            background-image: url(../../images/maid-service-icon.svg)
          &:nth-child(2):before
            background-image: url(../../images/dry-cleaning-icon.svg)
          &:nth-child(3):before
            background-image: url(../../images/repair-icon.svg)
          &:nth-child(4):before
            background-image: url(../../images/tutor-icon.svg)
      &.middle
        li.service-item
          &:nth-child(1):before
            background-image: url(../../images/food-icon.svg)
          &:nth-child(2):before
            background-image: url(../../images/gifts-icon.svg)
          &:nth-child(3):before
            background-image: url(../../images/daily-essentials-icon.svg)
          &:nth-child(4):before
            background-image: url(../../images/dog-food-icon.svg)
      &.middle-right
        li.service-item
          &:nth-child(1):before
            background-image: url(../../images/trip-planning-icon.svg)
          &:nth-child(2):before
            background-image: url(../../images/advice-icon.svg)
          &:nth-child(3):before
            background-image: url(../../images/how-to-icon.svg)
          &:nth-child(4):before
            background-image: url(../../images/translating-icon.svg)
      &.right
        li.service-item
          &:nth-child(1):before
            background-image: url(../../images/restaurant-icon.svg)
          &:nth-child(2):before
            background-image: url(../../images/event-icon.svg)
          &:nth-child(3):before
            background-image: url(../../images/vacation-icon.svg)
          &:nth-child(4):before
            background-image: url(../../images/hotel-icon.svg)

  @media(min-width: $screen-sm)
    .services
      h2
        margin-bottom: 100px
  @media(max-width: $screen-xs-max)
    .services
      h5
        margin-bottom: 15px
      .services-list
        margin-bottom: 40px

// SMS
.sms
  @extend .section-template
  background-color: #F3F3F3
  h2
    margin-top: 0
  .message-bubbles
    .message-left
      max-width: 350px
      background-color: #FFF
      border-radius: 10px
      padding: 10px 13px
      clear: right
      &.small
        max-width: 150px
      &.animated
        animation: slide-fade-in-left .35s 1 forwards
      &.animated:last-child
        animation-delay: 1.2s
      p
        margin: 0
        font-family: $font-prelo-light
        font-size: 25px
        color: $brand-text-gray
        font-weight: 100
    .message-right
      @extend .message-left
      background-color: #48AAFB
      float: right
      margin: 30px 0
      margin-left: 0
      p
        color: #FFF
      &.animated
        animation: slide-fade-in-right .35s 1 forwards
        animation-delay: .6s
  .text-us
    > *:not(h2)
      margin: 25px 0
    a
      color: $brand-blue
      font-weight: 600
      &.btn-fancy
        display: inline-block
    p
      line-height: 24px
  @media (min-width: $screen-md)
    p.limited-width
      max-width: 70%
    .message-bubbles
      padding-right: 40px
      .message-left
        opacity: 0 //changed through JS animation
  @media (max-width: $screen-xs-max)
    .message-bubbles
      margin-bottom: 30px
      .message-right
        width: 80%

.app-description
  @extend .section-template
  @media (min-width: $screen-sm)
    background: url(../../images/text-us-background.jpg) center center no-repeat

.soon
  @extend .section-template
  background-color: $brand-light-gray
  @media (min-width: $screen-sm)
    background: url(../../images/laptop-background.jpg) center no-repeat

.vacation
  @extend .section-template
  p:last-of-type
    margin-bottom: 70px
  @media (min-width: $screen-sm) and (max-width: $screen-sm-max)
    background: url(../../images/vacation-background.jpg) no-repeat
    background-position: left 300px top -120px;
  @media (min-width: $screen-md) and (max-width: $screen-md-max)
    background: url(../../images/vacation-background.jpg) 100px no-repeat
    background-position: left 200px top -120px;
  @media (min-width: $screen-lg)
    background: url(../../images/vacation-background.jpg) no-repeat
    background-position: right top -100px;



// Footer
footer
  padding: 20px 0
  img
    // opacity: .18
    margin-top: 0 !important
  img path
    fill: #ff0000
  a
    text-transform: uppercase
    font-size: 1.2rem
  .brand
    text-align: center
    float: none
  .footer-links
    text-align: center
    float: none
  @media (min-width: $screen-sm)
    a:not(.brand)
      margin-right: 15px
    .brand
      float: right
      text-align: right
    .footer-links
      float: left
      text-align: left
      margin-top: 8px
  @media (max-width: $screen-xs-max)
    .footer-links a
      margin: 0 10px
    .brand
      float: none
      display: block
      margin: 20px auto


// Misc
.btn-brand
  @include transition (all .3s)
  font-family: $font-prelo-light
  color: #FFF
  border: 1px solid #FFF
  border-radius: 8px
  text-transform: uppercase
  text-decoration: none !important
  &:hover
    color: $brand-yellow
    background-color: #FFF

.btn-fancy
  @include transition (all .3s)
  position: relative
  border: 1px solid #BFBFBF
  border-radius: 6px
  padding: 15px
  padding-left: 35px
  text-transform: uppercase
  background-color: transparent
  font-family: $font-prelo-bold
  font-size: 14px
  color: #898989
  line-height: 22px
  text-decoration: none !important
  &:before
    @include transition (all .3s)
    content: '\f105'
    position: absolute
    left: 15px
    width: 15px
    font-family: FontAwesome
    color: $brand-yellow
    color: #F6B536
    font-size: 26px
  &:hover
    color: #FFF
    background-color: $brand-yellow
    padding-left: 15px
  &:hover:before
    @include transition (all 0s)
    left: -30px
    opacity: 0

#return-to-top
  @include transition(all .1s ease-out)
  bottom: 35px
  right: 35px
  svg
    width: 28px
  &.affix-top
    position: fixed
    bottom: -30px
